<app-admin-header></app-admin-header>
<div class="sidebar">
  <a href="admin/users">Users</a>
    <a href="admin/sellers">Sellers</a>
    <a href="admin/products">Products</a>
    <a href="admin/orders">Orders</a>
</div>
<!--Search content-->
<div class="search">
  <input class="search-bar" type="text" name="username" [(ngModel)]="username" (ngModelChange)="Search()" placeholder="Search By Users Name">
</div>
<!-- Page content -->
<div class="content">
  <h2>Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>Mobile Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.city}}</td>
        <td>{{user.mobileNumber}}</td>
        <td>Delete</td>
      </tr>
    </tbody>
  </table>
</div>