<div class="container">
    <div class="row">
        <h4>Your order will be delivered in seven days</h4>
        <div class="col-12 col-md-10 hh-grayBox pt45 pb20">
            <div class="row justify-content-between">
                <div class="order-tracking completed">

                    <span class="is-complete"></span>
                    <p>Ordered<br><span>Wednesday, 20</span></p>
                </div>
                <div class="order-tracking completed">
                    <span class="is-complete"></span>
                    <p>Shipped<br><span>Thursday, 22 </span></p>
                </div>
                <div class="order-tracking">
                    <span class="is-complete"></span>
                    <p>Delivered<br><span>Wednesday, 27</span></p>
                </div>
            </div>
        </div>
    </div>
</div>